:root {
    --primary-blue: #2063aa;
    --primary-green: #20aa67;
    --red: #aa2020;
    --secondary-light: #0000001a;
    --width-pagina: 60vw + 15%;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amarantha regular',
        'Lucida Console',
        'Trebuchet MS',
        Arial,
        Helvetica,
        sans-serif;
        
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

h3 {}

a {
    font-size: .9rem;
    text-decoration: none;
}

p {
    font-size: 1rem;
}

li {
    list-style: none;

}

.btn-comprar {

    outline: none;
    font-size: 1rem;
    padding: .6em 1.5em;
    border-radius: 33px 0 0 33px;
    background-color: var(--primary-green);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s ease;

}

.btn-comprar:hover {
    background-color: white;
    border: 2px solid var(--primary-green);
    box-shadow: none;
    color: var(--primary-green);
}
.btn-eliminar {

    outline: none;
    font-size: 1rem;
    padding: .6em 1.5em;
    border-radius: 33px 0 0 33px;
    background-color: var(--red);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .3s ease;

}
.btn-eliminar:hover {
    background-color: var(--red);
    border: 2px solid white;
    box-shadow: none;
    color: white;
}

/** navegacion **/
.site-navigation {
    background-color: var(--primary-blue);
    border-bottom: 8px solid var(--secondary-light);
    padding: .5em 1em;
    transition: margin-right .5s ease;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: calc(var(--width-pagina));
    padding: 1em 0;
}

 /* The side navigation menu */
 .sidenav {
     height: 100%;
     /* 100% Full-height */
     width: 0;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Stay on top */
     top: 0;
     /* Stay at the top */
    right: 0;
     background-color: var(--primary-blue);
     /* Black*/
     overflow-x: hidden;
     /* Disable horizontal scroll */
     padding-top: 60px;
     /* Place content 60px from the top */
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
     z-index: 100;
 }

 /* The navigation menu links */
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 25px;
     color: #fcfcfc;
     display: block;
     transition: 0.3s;
 }

 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
     color: #f1f1f1;
 }

 /* Position and style the close button (top right corner) */


 .barra-menu {
     display: flex;
     justify-content: center;
     align-items:center;
 }

 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
     transition: margin-right .5s;

 }

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }

     .sidenav a {
         font-size: 18px;
     }
 }

  .sidenav img {
      max-width: 150px;
  }
  .sidenav .producto {
      padding: 1em;
      font-size: 70%;
      min-width: 100%;
  }
  .sidenav .producto * {
     display: flex;
     justify-content: center;
     align-items:center;
     flex-direction: column;
     width: 100%;
     text-align: center;
     border-radius: 0;
  }
  #listaproductos .producto {
    max-width: 200px;
    flex-direction: row;
  }
  #listaproductos .producto-texto {
      padding: 1em 0 0 0;
  }
  #listaproductos .producto .producto-titulo {
      font-size: .8rem;
  }
  #listaproductos .producto img {
      max-width: 150px;
  }
  #total {
      text-align: center;
      width: 100%;
      background-color: var(--primary-green);
      padding: 1em 0;
      font-size: 1.3rem;
      font-weight: 600;
  }
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--primary-green);
    padding: .5em 1em;
    border-radius: 33px;
}

.logo h1 {
    color: white;
}

.logo i {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.logo img {
    max-width: 190px;
}

.boton-nav {

    width: 100%;
    max-width: max-content;
    display: grid;
    place-content: center;
    padding: 0 0 .1em 0;
    cursor: pointer;
    transition: all .5s ease;
}

.boton-nav-bar {
   
    margin: .3em 0 .2em 0;
    height: 1px;
    width: 35px;
    background-color: #fffffff6;

}

.nav-desplegable {
    display: none;
}



.header-banner {
    background-image: url(../img/undraw_web_shopping_re_owap.png);
    min-height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
}

.site-main {}

.main-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--primary-blue);

    color: white;
}

.productos-barra {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: calc(var(--width-pagina));
    width: 100%;
}

.productos-ver {
    font-weight: 600;
    background-color: var(--primary-green);
    padding: 1.6em;
    transition: all .8s ease;
    cursor: pointer;
}

.productos-icons {
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos-icons i {
    padding: 1em;
    font-size: 1.4em;

    transition: all .7s ease;
    cursor: pointer;

}

.carrito-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue);
    position: relative;

}

.carrito-flex p {

    z-index: 15;

    color: #040404;
    background-color: #ffffff;
    padding: .2em .4em;
    border-radius: 100%;
    font-weight: 600;

    aspect-ratio: 2/1;

    text-align: center;
}

.productos-icons i:hover,
.productos-ver:hover:not(:first-child) {
    background-color: var(--secondary-light);
    transform: translateY(-5%);
    cursor: pointer;
}



.section-productos {
 

    min-height: 100vh;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-content: center;
    max-width: calc(var(--width-pagina));
    margin: 0 auto;
    gap: 1em;
    padding: 5% 0;
}

.producto {
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: drop-shadow(12px 12px 25px #00000018);
    max-width: max-content;
    border-radius: 3px;

}

.producto img {
    width: 100%;
    max-width: 350px;
    display: block;
    aspect-ratio: 1/1;

}

.producto-texto {
    background-color: #f3f3f3;
    padding: 1em 0;
    color: var(--primary-blue);
}

.producto-titulo {
    font-weight: 800;
    font-size: 1.3rem;
}

.compra-botones {
    display: flex;
    justify-content: center;

    align-items:center;
}

.producto-texto span {
    color: rgb(250, 250, 250);
    font-weight: 600;   
    font-size: 1rem;
    background-color: var(--primary-green);
    padding: .6em .9em;
    border: 2px solid var(--primary-green);
    border-radius: 0 33px 33px 0;

}

.producto-descripcion {
    padding: 1em;
}




.producto li p {
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.5em;
    transition: all .8s ease;
}

.producto li p:hover {
    background-color: var(--primary-blue);
    color: white;
    cursor: pointer;
}

.section-cards {}

.cards-grid {
    max-width: calc(var(--width-pagina));
    margin: 0 auto;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    min-height: 50vh;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.089);
    flex-direction: column;
    text-align: center;
    padding: 2em;

    border-radius: 3px;

}

.card p {
    font-weight: 600;
    max-width: 37ch;
}

.card i {
    font-size: 5rem;
}

.card span {}

.frase-khali {
    text-align: center;

}

.frase-khali h1 {

    color: rgb(12, 12, 12);
    background-color: #2063aa1e;
    padding: 1em;
}

.site-footer {
    display: flex;
    margin: 2em 0 0 0;
    flex-direction: column;
}

.section-mapa {
    background-color: var(--primary-blue);
    color: white;
    padding: 1em;
    text-align: center;
}

.mapa-contenedor {
    max-width: calc(var(--width-pagina));
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: flex-start;
    color: white;
    padding: 2em 0;
    flex-direction: column;
    text-align: left;

}

.section-final {

    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
}

.final-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    align-items: center;
}